pkgbase = meo-desktop
	pkgdesc = Meo Desktop independent Plasma session
	pkgver = 0.4.0
	pkgrel = 12
	url = https://github.com/QwQdoge/meo-kde
	arch = x86_64
	license = GPL-3.0-or-later
	license = GPL-2.0-or-later
	license = MIT
	license = Apache-2.0
	license = OFL-1.1
	makedepends = cmake
	makedepends = ninja
	makedepends = extra-cmake-modules
	makedepends = qt6-base
	makedepends = qt6-declarative
	makedepends = polkit-qt6
	depends = meoui-qml>=1.0.4beta2
	depends = meo-icons>=0.4.0
	depends = plasma-desktop
	depends = plasma-workspace
	depends = plasma-nm
	depends = plasma-pa
	depends = powerdevil
	depends = bluedevil
	depends = systemsettings
	depends = dolphin
	depends = konsole
	depends = breeze
	depends = polkit-kde-agent
	depends = networkmanager-qt
	depends = bluez-qt
	depends = solid
	depends = pulseaudio-qt
	depends = kguiaddons
	depends = kwindowsystem
	depends = kconfig
	depends = kirigami
	depends = libplasma
	depends = layer-shell-qt
	depends = kdecoration
	depends = kcmutils
	depends = kcolorscheme
	depends = fcitx5
	depends = fcitx5-gtk
	depends = fcitx5-qt
	depends = dbus-broker-units
	optdepends = fcitx5-configtool: upstream input method configuration
	optdepends = ibus: optional alternative input method
	optdepends = kwin-effect-rounded-corners: optional window rounding effect
	provides = meo-kde-runtime=0.4.0
	provides = meo-desktop-session=1
	conflicts = meo-kde-runtime
	replaces = meo-kde-runtime
	options = !debug

pkgname = meo-desktop
